<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512229687346-9ssq26gf4hqn57c2btjmvq2cvdgdbjg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512229687346-9ssq26gf4hqn57c2btjmvq2cvdgdbjg6</string>
	<key>API_KEY</key>
	<string>AIzaSyAv7aVLFAmJo3JgtO71M-bCP8TqADaOz0w</string>
	<key>GCM_SENDER_ID</key>
	<string>512229687346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alertifyapp</string>
	<key>PROJECT_ID</key>
	<string>projeto-edipo</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-edipo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>GOOGLE_APP_ID</key>
	<string>1:512229687346:ios:0c0031c58a462afb3c3c2b</string>
	<key>DATABASE_URL</key>
	<string>https://projeto-edipo-default-rtdb.firebaseio.com</string>
</dict>
</plist>
